---
layout: default
---

{% assign page_link = 'page:' | append: page.key %}
{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}
{% assign sitemap = chapter | sitemap %}

<div id="content">
  <div class="container-fluid">
    <div class="row">
      {% unless page.hide_sitemap %}
        <div class="hidden-xs col-sm-4 col-lg-3" id="sitemap-container">
          <ul id="sitemap">
          {% for category in sitemap %}
            <li class="sitemap-headline">{{ category.title }}</li>
            {% for entry in category.entries %}
              {% assign entry_selected = false %}
              {% if entry.link == page_link %}
                {% assign entry_selected = true %}
              {% else %}
                {% assign is_resource_entry = entry.link | regex_match: '^page:api-resources-(?!all$)[^-]+$' %}
                {% if is_resource_entry %}
                  {% assign resource = entry.link | regex_replace: '^page:api-resources-(.+)$', '\1' %}
                  {% assign resource_page_regex = '^page:api-([a-z]+)-' | append: resource | append: '(.*)-information$' %}
                  {% assign is_resource_page = page_link | regex_match: resource_page_regex %}
                  {% if is_resource_page %}
                    {% assign entry_selected = true %}
                  {% endif %}
                {% endif %}
              {% endif %}
              <li class="sitemap-entry{% if entry_selected %} selected{% endif %}">{% sitemap_link entry %}</li>
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
        <div class="col-sm-8 col-lg-9" id="page-main">
      {% endunless %}
      <article>
        {% if page.title %}
          <div class="page-header">
            <h1 class="title">{{ page.title }}</h1>
          </div>
        {% endif %}
        {{ content }}
      </article>
      {% unless page.hide_sitemap %}
        </div>
      {% endunless %}
    </div>
    {% include pagination.html %}
  </div>
</div>
