<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="container-fluid" id="Welcome">
        <div class="row jumbotron">
            <div class="col-xs-12 col-md-7">
                <img src="../assets/logos/cleo-developer-clear.png" alt="Cleo Rest API Documentation" class="img-responsive logo" />
                <h1>Welcome to Cleo Developer</h1>
                <h3>Here you can access REST API documentation for Cleo VLTrader and Cleo Harmony.</h3>
                <a href="/api/getting-started/overview.html" class="btn" title="View Cleo Rest API Documentation">
                    Get Started &#10142;
                </a>
            </div>
            <img src="../assets/images/welcome/illustration.png" alt="Icon of layered screens" class="img-responsive background hidden-xs hidden-sm" />
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Extend the power of your Cleo solution</h2>
            </div>
        </div>
        <div class="row boxes">
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <img src="../assets/images/welcome/molecular.png" alt="Icon of a molecule" class="img-responsive" />
                    <p>Build custom integrations with the Cleo platform</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <img src="../assets/images/welcome/wrench.png" alt="Icon of a wrench" class="img-responsive" />
                    <p>Integrate enterprise applications with Cleo products</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <img src="../assets/images/welcome/layers.png" alt="Icon of layered pages" class="img-responsive" />
                    <p>Provision systems and instrument your operations</p>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; 2016 Cleo. All rights reserved</p>
        </footer>
    </div>
</body>
</html>